<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>CONGREPARH</strong>
      </h2>
    </div>
    
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="light" tappable (click)="forgotPass()">
      <strong>Esqueceu a Senha?</strong>
    </p>

    <div>
      <button ion-button icon-start block color="primary" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        ENTRAR
      </button>

    </div>

    <div text-center margin-top>
      <span ion-text color="light" tappable (click)="register()">Novo aqui?
        <strong>Inscreva-se!</strong>
      </span>
    </div>

  </div>
</ion-content>