<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre o Evento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="detail-bg">

</ion-content>
