<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home detail-bg">
  <img src="../../assets/imgs/congreparh_logo.png" />
  <div class="border-bottom" style="text-align: center; padding: 8px">
    <span ion-text color="dark" class="bold">Últimas Notícias</span>
  </div>
  <button ion-button block (click)="showToast();">Toast</button>
  <button ion-button block (click)="showLoading();">Loading</button>
  <button ion-button block (click)="showAlert();">Alert</button>
</ion-content>