page-programming {
    .card {
        border-radius: 1rem
    }
    .event {
        overflow: hidden;
        .background {
            background-size: 100% auto;
            background-position: center;
            .background-filter {
                height: 16rem;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
                .align-bottom {
                    width: 100%;
                    h6 {
                        margin-top: 0;
                    }
                }
            }     
        }
    }
    .fab[mini] {
        margin: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
