<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="programmings detail-bg">
  <div class="event card" *ngFor="let event of events" tappable margin-bottom>
    <div class="background" [ngStyle]="{'background-image': 'url(' + event.thumb + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ event.name }}</h6>
          <div class="clear"></div>
        </div>
        <ion-fab right top (click)="openGoogleMaps()">
          <button ion-fab mini color="dark">
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-fab>
      </div>
    </div>
    <div class="padding-sm dark-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ event.time }}</span>
      <span class="pull-right" ion-text color="light">16/09/2018</span>
    </div>
  </div>
</ion-content>