<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Patrocinadores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="detail-bg">

</ion-content>
